<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Books</title>
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<a href="../index.html"><- Go back</a>

<div class="container-fluid container">
	<div class="row">
		<h1>Books</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Add form</h3>

			<form id="bookAdd" class="form-horizontal">
				<div class="form-group">
					<label for="bookName">book Name</label>
					<input type="text" id="bookName" class="form-control" required/>
				</div>
				<div class="form-group">
					<label for="bookDescription">book Description</label>
					<input type="text" id="bookDescription" class="form-control" required/>
				</div>
				<div class="form-group">
					<label for="bookPages">book pages</label>
					<input type="text" id="bookPages" class="form-control" required/>
				</div>
				<div class="form-group">
					<label for="bookPublishYear">book publish year</label>
					<input type="text" id="bookPublishYear" class="form-control" required/>
				</div>
				<div class="form-group">
					<label for="bookGenre">book genre</label>
					<input type="text" id="bookGenre" class="form-control" required disabled/>
				</div>
				<div class="form-group genres"></div>
				<button class="btn btn-default">Add</button>
			</form>
		</div>
		<div class="col-md-0 col-md-offset-1">
			<div class="col-md-6">
				<h3>List</h3>
				<table id="bookList" class="table table-striped table-bordered">
					<thead>
					<tr>
						<th>name</th>
						<th>description</th>
						<th>pages count</th>
						<th>publish year</th>
						<th>genre</th>
						<th colspan="2"></th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="../bower_components/persistence/lib/persistence.js"></script>
	<script src="../bower_components/persistence/lib/persistence.store.sql.js"></script>
	<script src="../bower_components/persistence/lib/persistence.store.websql.js"></script>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!--<script src="../js/db.js"></script>-->
	<!--<script src="../js/books.js"></script>-->
</div>
</body>
</html>